@mixin mobile {
    @media (max-width: $mobile) {
        @content
    }
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin arrwoIcon {
    font-size: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.header__left {
    @include flexCenter(row);
    gap: 82px;
    margin-top: 24px;;
    margin-left: 48px;

    @include mobile {
        margin: 0;
        gap: 20px;
    }

    &--blue-circle {
        width: 40px;
        height: 40px;
        background-color: $primary-color;
        border-radius: 20px;
    }

    &--language-help {
        @include flexCenter(row);
        gap: 16px;

        @include mobile {
            gap: 12px;
        }

        &__language {
            width: 100px;
            position: relative;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            font-family: 'Source Sans Pro';

            .selected-lang {
                display: flex;   
                justify-content: center;
                align-items: center;
                gap: 4px;
                cursor: pointer;
            }

            .selected-lang:before{
                content: '';
                display: inline-block;
                width: 18px;
                height: 14px;
                background-image: var(--flag, url("https://flagicons.lipis.dev/flags/4x3/lt.svg"));
                background-size: contain;
                background-repeat: no-repeat;
            }

            ul {
                margin: 0;
                padding: 0;
                display: none;
                background-color: #fff;
                border: 1px solid #f8f8f8;
                position: absolute;
                top: 25px;
                right: -15px;
                width: 125px;
                border-radius: 5px;
                box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
            
                li {
                    list-style: none;
                    text-align: left;
                    display: flex;
                    justify-content: space-between;

                &:hover{
                    background-color: $primary-color;
                }    

                    p {
                        text-decoration: none;
                        width: 125px;
                        padding: 5px 10px;
                        display: block;
                        color: $text-color;
                        cursor: pointer;

                        &:hover{
                            color: #ffffff;
                        }
                        
                        &:before{
                            content: '';
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            vertical-align: middle;
                            margin-right: 10px;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

            .lt:before {
                background-image: url("https://flagicons.lipis.dev/flags/4x3/lt.svg");
                width: 18px;
                height: 14px;
            }

            .en:before {
                background-image: url("https://flagicons.lipis.dev/flags/4x3/gb.svg");
                width: 18px;
                height: 14px;
            }

            img {
                width: 20px;
                height: 12px;
                padding-right: 4px;
            }

            i {
                @include arrwoIcon;
            } 
        }


        &__help {
            @include flexCenter(row);
            gap: 4px;

            p {
                @include mobile {
                    display: none;
                }
            }

            .question {
                @include flexCenter(row);
                width: 15px;
                height: 15px;
                border: solid 1.5px;
                font-size: 7px;
                border-radius: 50px;

                @include mobile {
                    margin-right: 7px;
                }
            }

            .arrow {
                @include arrwoIcon;
            }
        }
    }
}

.header__right {
    @include flexCenter(row);
    gap: 4px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: 48px;
    padding-top: 6px;
    cursor: pointer;

    @include mobile {
        margin-top: 0;
        margin-right: 0;
        padding-top: 0;
    }

    i {
        font-size: 14px;

        @include mobile {
            font-size: 20px;
        }
    }

    p {
        @include mobile {
            display: none;
        }
    }
}

